[submodule ".vim/bundle/nerdtree"]
	path = ./.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule ".vim/bundle/vim-jsbeautify"]
	path = .vim/bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
	ignore = dirty
[submodule "/Users/matteohertel/mhdev/dotfiles/.vim.link/bundle/vim-prettier"]
	path = /Users/matteohertel/mhdev/dotfiles/.vim.link/bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier
